
/*quitar display flex cuando cambia a pantalla celulares...*/
/* .padre {
    display: flex;
    align-items: center;
    justify-content: center;
  }


*/
body { 
    background: url(fondo.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    bottom: 70%;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
  }












    #pedir {
        font-family: Arial;
        color: #000000;
        font-size: 15px;
        border-radius: 47px;
        border: 2px #141414 solid;
        background: linear-gradient(309deg, #18f71f 21%, #0af10e 81%);
        text-shadow: 1px 2px 27px rgba(68, 120, 54, 0.41);
        box-shadow: inset 1px 1px 4px -16px rgba(187, 218, 247, 0.57);
        cursor: pointer;
        display: inline-flex;
        align-items: center;
        padding: 0px;
        width: 250px;
        padding-left: 30px;
        height: 50px;
        
    }

    #pedir:hover {
        background: linear-gradient(309deg, #18f71f 21%, #0af10e 81%);
        color: black;
        transform: scale(1.05) 
       
    }


    #logo{
        width:100; 
        height:25;
    }

    #botoneras{
        width: 50%;
    }

.container{
    padding-bottom: 20%;
}

    .fa {
        padding-left: 15px;
        padding-right: 15px;
    }

   
    .contenedor_items{
        text-align: center;
        align-items: center;
        margin-bottom: 25px;
        padding-bottom: 10px;
        border-radius: 5px;
        flex-direction: column;
        width: auto;
    }
   
    .botones{
      text-align: center;
      align-items: center;
      margin: 20px;
      width: 100%;
      
    } 
  
    #contenedor{
        padding-top: 20px;
        padding-bottom: 3px;
        padding-left:20px ;
        padding-right: 20px;
        border-radius:15px;
        border:2px solid black ;
        opacity: 94%;
        margin-bottom:30px;
        margin-top: 30px;
        

        
    }
 .btnEliminar{
    font-family: Arial;
	color: #FFFFFF;
	border-radius: 1px;
	border: 4px #f70606 solid;
	background: linear-gradient(42deg, #ff7878 21%, #ed1a1a 41%);
	text-shadow: 1px 1px 1px #f50e0e;
	box-shadow: 1px 1px 2px 0px #fa0000;
	cursor: pointer;
	align-items: center;
 }

 .btnEliminar:hover {
	background: linear-gradient(42deg, #ed1a1a 21%, #ff7878 41%);
}


.datos{
    width: 90%;
    text-align: center;
    align-content: center;
}







.fadeOutRight { /*cuando elimino un item, hace animacion*/
  -webkit-animation-name: fadeOutRight;
  animation-name: fadeOutRight;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes fadeOutRight {
  0% {
  opacity: 1;
  }
  100% {
  opacity: 0;
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
  }
  }
  @keyframes fadeOutRight {
  0% {
  opacity: 1;
  }
  100% {
  opacity: 0;
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
  }
}








@media (max-width: 1080px) {
    #agregar{
        font-family: Arial;
        color: #ffefef;
        font-size: 30px;
        border-radius: 47px;
        border: 2px #141414 solid;
        background: linear-gradient(309deg, #1a7edb 21%, #065af7 81%);
        text-shadow: 1px 2px 27px rgba(68, 120, 54, 0.41);
        box-shadow: inset 1px 1px 4px -16px rgba(248, 197, 199, 0.57);
        cursor: pointer;
        display: inline-flex;
        align-items: center;
        width:50px;
        padding: 15px;
        height: 50px;
        margin-bottom: 30px;
        position: fixed;
        bottom: 700px;
        right: 5px;
        top: 65px;
            
        }
    
        #agregar::after{
            content: "+";
        }
    
}





@media (min-width: 1081px) {
    #agregar{
        font-family: Arial;
        color: #ffefef;
        font-size: 30px;
        border-radius: 47px;
        border: 2px #141414 solid;
        background: linear-gradient(309deg, #1a7edb 21%, #065af7 81%);
        text-shadow: 1px 2px 27px rgba(68, 120, 54, 0.41);
        box-shadow: inset 1px 1px 4px -16px rgba(248, 197, 199, 0.57);
        cursor: pointer;
        display: inline-flex;
        align-items: center;
        width:50px;
        padding: 15px;
        height: 50px;
        margin-bottom: 30px;
        position: fixed;
        bottom: 700px;
        right:50px;
        top: 110px;
        }
    
        #agregar:hover::after {   
            content: "+";
        } 
    
       #agregar:hover{
            width: auto;
            font-size: 210%;
            background: linear-gradient(42deg,#1a7edb 21%, #065af7 41%);
            transform: scale(1.05) 
            
       }

       #agregar::after{
        content: "+";
    }
    
    
}